<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">
<div class="side">
    <ul>
        <li><a th:href="@{/admin/userList}">用户管理</a></li>
        <li><a th:href="@{/admin/clientList}">客户管理</a></li>
        <!--<li><a th:href="@{/admin/openIdList}">OpenID管理</a></li>-->
        <!--<li><a th:href="@{/admin/accessTokenList}">访问令牌管理</a></li>-->
        <!--<li><a th:href="@{/admin/refreshTokenList}">刷新令牌管理</a></li>-->
        <!--<li><a th:href="@{/admin/clientTokenList}">客户令牌管理</a></li>-->
        <!--<li><a th:href="@{/admin/codeList}">认证代码管理</a></li>-->
        <li><hr/></li>
        <li><a th:href="@{/admin/roleList}">角色管理</a></li>
    </ul>
</div>