<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/static/css/layui.css"  media="all"></link>
</head>
<script th:src="@{static/layui.js}"></script>
<script th:src="@{/static/js/mobile.js}"></script>
<div align="center">
    <button class="layui-btn" data-type="add">添加手机号</button>
    <button class="layui-btn" data-type="del">删除手机号</button>
    <button class="layui-btn" data-type="chouqian">抽签</button>
</div>
<div align="center">
    <div th:id="mobile" th:attr="lay-filter=${mobile}"></div>
</div>
<div th:id="add" style="margin:30px 50px 0px 0px; display: none">
    <form th:id="add" action="" class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                    <input type="text" name="number" autocomplete="off" class="layui-input"></input>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="add" lay-filter="add">立即提交</button>
            </div>
        </div>
    </form>
</div>
</html>
